/* Mobile */
@media (max-width: 428px) {
  section,
  .section-wrap {
    height: auto;
  }

  .section-wrap {
    padding: 15px;
    margin: 50px 10px;
  }

  header {
    flex-direction: column;
    gap: 25px;
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 25px;
  }

  nav,
  .hd-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hd-ct-1 {
    margin-bottom: 25px;
  }

  .hr-content {
    grid-template-columns: 1fr;
  }

  .headline {
    font-size: 3rem;
    text-align: center;
    margin-top: 50px;
  }

  .hr-description {
    text-align: center;
    width: 90%;
  }

  .hr-actions {
    flex-direction: column;
    gap: 25px;
    width: 80%;
    margin-bottom: 50px;
  }

  .ct-left {
    align-items: center;
  }

  /* Destination */
  .section-head {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 50px;
  }

  .section-title {
    text-align: center;
  }

  .ds-content {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .ds-btn {
    margin-bottom: 50px;
  }

  .price {
    font-size: 1.5rem;
  }

  /* About */
  .ab-content {
    grid-template-columns: 1fr;
  }

  .ab-description {
    text-align: center;
  }

  .ab-st {
    padding: 15px;
    flex-direction: column;
    width: 90%;
    align-items: center;
    gap: 20px;
  }

  .ab-content h3,
  .ab-crd p {
    text-align: center;
  }

  .ab-content .ct-right {
    align-items: center;
    margin: 50px 0;
  }

  /* Contact */
  .ct-content {
    grid-template-columns: 1fr;
    margin-top: 50px;
  }
}

/* Tab */
@media (min-width: 429px) and (max-width: 1279px) {
  section,
  .section-wrap {
    height: auto;
  }

  .section-wrap {
    padding: 15px;
    margin: 50px 10px;
  }

  header {
    flex-direction: column;
    gap: 25px;
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 25px;
  }

  nav,
  .hd-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hd-ct-1 {
    margin-bottom: 25px;
  }

  .hr-content {
    grid-template-columns: 1fr;
  }

  .headline {
    font-size: 5rem;
    text-align: center;
    margin-top: 50px;
  }

  .hr-description {
    text-align: center;
    width: 90%;
  }

  .hr-actions {
    flex-direction: column;
    gap: 25px;
    width: 80%;
    margin-bottom: 50px;
  }

  .ct-left {
    align-items: center;
  }

  /* Destination */
  .section-head {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 50px;
  }

  .section-title {
    text-align: center;
  }

  .ds-content {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .ds-btn {
    margin-bottom: 50px;
  }

  .price {
    font-size: 1.5rem;
  }

  .ds-card img {
    height: 350px;
  }

  .ds-card {
    margin: 25px;
  }

  /* About */
  .ab-content {
    grid-template-columns: 1fr;
  }

  .ab-description {
    text-align: center;
  }

  .ab-st {
    padding: 15px;
    flex-direction: column;
    width: 90%;
    align-items: center;
    gap: 20px;
  }

  .ab-content h3,
  .ab-crd p {
    text-align: center;
  }

  .ab-content .ct-right {
    align-items: center;
    margin: 50px 0;
  }

  /* Contact */
  .ct-content {
    grid-template-columns: 1fr;
    margin-top: 50px;
  }
}

@media (min-width: 1280px) and (max-width: 1919px) {
  .nav-item {
    margin: 10px;
  }

  .headline {
    font-size: 3.5rem;
  }

  .hr-content {
    gap: 10px;
  }

  .hr-actions {
    padding: 15px;
    width: 60%;
  }

  /* destination */
  .ds-content {
    gap: 25px;
  }

  .ab-content {
    margin-top: 100px;
  }

  form {
    margin-bottom: 50px;
  }
}
